<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="~/index.css">
    <!-- Fonrt Awesome  -->
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">*@

</head>
<body>
    <!-- This section is first -->
    <section class="First-section">
        <p>Free Resume Builder <p>
            <h3>Some information about our website</h3>
            @*<button class="global-btn">My resume</button>*@
    </section>

    <!-- About me section -->
    <section class="global-Section">
        @*<h2 class="gaobal-hedding">About me</h2>
        <p class="goabal-hedding-p">1 HTML CSS Frist Project | Html Css Bangla Project | Debprosad</p>*@
        <div class="about-main-div">
            <div>
                <img src="./Images/Screenshot 2023-04-21 115735.png" alt="This my picture">
            </div>
            <div class="about-sub-div2">
                <h2>Biodata</h2>
                <p>
                    You can create a beautiful Resume like the image on the left using our website.The platform offers a user-friendly interface that allows you to build your resume step-by-step. Simply fits your style and career goals, and then add your information using the guided prompts.Are you struggling to create a professional-looking resume and cover letter that will help you stand out from the competition? Look no further than "Resume Maker" free resume and cover letter creator. The platform offers everything you need to create a standout job application, all for free.
                </p>
                @*<button class="global-btn">Read more...</button>*@
            </div>
        </div>
    </section>




    <!-- This is service section  -->
    <section class="global-Section">
        <h2 class="gaobal-hedding">Service</h2>
        <br>
        <p class="goabal-hedding-p">The platform offers a user-friendly interface that allows you to build your resume step-by-step.The platform offers everything you need to create a standout job application, all for free.You can save all your information by clicking on create button to create Resume and correct any information if wrong.By going to the details view button, you will see your given information in Resume format and can download it in Resume format.Finally, if you want, you can delete all your information by going to the delete button.</p>

        <div class="grid-continer">
            <div class="grid-single-item">
                <i class="fa-brands fa-linkedin"></i>
                <h2>Create your Resume</h2>
                <p>You save all the information of your education life by writing all the experiences of your work life</p>
            </div>

            <div class="grid-single-item">
                <i class="fa-regular fa-pen-to-square"></i>
                <h2>Edit your Resume</h2>
                <p>If you think you have forgotten some information then there is also an opportunity to correct the mistake.</p>
            </div>



            <div class="grid-single-item">
                <h2>Details view page</h2>
                <p>By going to the details view button, you will see your given information in Resume format and can download it in Resume format  </p>
            </div>

            <div class="grid-single-item">
                <i class="fa-solid fa-spell-check"></i>
                <h2>Delete your Resume</h2>
                <p>If you want, you can delete all your information by going to the delete button.</p>
            </div>
        </div>
    </section>
</body>
</html>